<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentmanager_excercise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentManager">

        <!-- MainActivity: Màn hình chính -->
        <activity
            android:name="com.example.studentmanager_excercise.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AddStudentActivity: Màn hình thêm sinh viên -->
        <activity
            android:name="com.example.studentmanager_excercise.AddStudentActivity"
            android:exported="false" />

        <!-- EditStudentActivity: Màn hình chỉnh sửa sinh viên -->
        <activity
            android:name="com.example.studentmanager_excercise.EditStudentActivity"
            android:exported="false" />
    </application>

</manifest>
